body {
    background: url("/IMG.jpg");
}

.section-container {
    width: 650px;
    margin: auto;
    margin-top: 150px;
}

.input-field {
    width: 300px;
    margin-left: 10px;
    float: left;
}